/* Extra Light */
:root {
    --veronica-blue: #0091FF;
    --veronica-light-blue: rgba(55, 183, 245);
    --highlight-pink: #FE0170;
    --sub-text-light: hsl(0, 0%, 83%);
    --sub-text: #8B8B8B;
}

/* Font */
/* Extra Light */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Extra Bold */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Brutal Type Normal */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: 'Brutal Type';
    margin: 0;
    padding: 0;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Vormgeving Hamburger Menu */
input[type=checkbox]+label { /* Selecteert het <label> element dat direct na een checkbox <input type="checkbox"> komt */
    span {
        display: block; /* Zorgt ervoor dat het <span> element als een blok wordt weergegeven (blok-elementen nemen de volledige breedte in) */
        width: 1.5rem; /* Stelt de breedte van het <span> element in op 1.5 rem (waarbij 1 rem gelijk is aan de lettergrootte van het element) */
        height: 2px; /* Stelt de hoogte van het <span> element in op 2 pixels */
        background-color: white; /* Geeft het <span> element een witte achtergrondkleur */
        margin: .28rem; /* Voegt een marge van 0.28 rem toe rondom het <span> element */
        transition: all 0.3s;  /* Zorgt voor een overgangseffect van 0.3 seconden op alle veranderbare eigenschappen (zoals bij hover of andere acties) */
    }

    @media screen and (min-width:730px) { /* Media query: past alleen CSS aan als de schermbreedte groter is dan 730px */
        display: none; /* Verbergt het label wanneer het scherm breder is dan 730px */
    }
}

label {
    cursor: pointer;
}

/* Checkbox verbergen */
input[type=checkbox] {
    display: none;
}

/* Hamburger wanneer checked */
input[type=checkbox]:checked+label {
    .burger-top {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    .burger-middle {
        opacity: 0;
    }

    .burger-bottom {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
}

/* Altijd zichtbare menu */
nav .nav-main-menu {
    /* Flex layout nav bar */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--veronica-blue);
    padding: .3rem .5rem .3rem .5rem;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    max-width: 100vw;
    z-index: 2;
}

/* Nav logo */
nav .nav-main-menu a:first-of-type {
    order: 2;
}

/* Grootte Veronica afbeelding */
nav .nav-main-menu a:first-of-type>img {
    width: 8rem;
}

/* Grootte Whatsapp afbeelding */
nav .nav-main-menu a:last-of-type>img {
    width: 2rem;
}

nav .nav-main-menu a:last-of-type {
    order: 3;
}

@media screen and (min-width:730px) {
    nav {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
}

/* Hamburger menu items */
.primary-menu {
    /* Flex layout hamburger menu items */
    display: flex;
    flex-direction: column;
    gap: .8rem;
    align-items: center;
    padding: .8rem 0 .8rem 0;
    background-color: var(--veronica-light-blue);
    transition: .3s ease;
    translate: -100% 0;
    position: fixed;
    width: 100vw;
    margin: 59px 0 0 0;
    z-index: 2;
    top: 0;
}

.primary-menu.clicked {
    translate: 0 0;
}

.primary-menu-big {
    display: none;

    @media screen and (min-width:730px) {
        display: block;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        order: 2;
        transition: .3s ease-in-out;
    }
}

.primary-menu-big:hover {
    color: var(--highlight-pink);
}

/* Tekst opmaak hamburger menu items */
nav .primary-menu li>a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;

    transition: .3s ease-in-out;
}

nav .primary-menu li>a:hover {
    color: var(--highlight-pink);
}

/* Opmaak lijst, lijst items en links */
ul, li>a {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* Flex layout secondair menu */
.secondary-menu {
    /* border-bottom: solid .1rem var(--sub-text-light); */
    padding: 0 .5rem 0 .5rem;
    left: 0;
    right: 0;
    max-width: 100vw;

    position: fixed; 
    width: 100vw; 
    z-index: 1; 
    top: 0px; 
    background-color: white; 
    transition: all .3s ease-in-out;

    /* Flex layout */
    display: flex;
    gap: 3rem;
    overflow-x: scroll;
    height: 4rem;
    align-items: center;
    padding-top: 61.3984px;

    @media screen and (min-width: 705px) {
        overflow-x: hidden;
    }
}

/* Scroll transitie */
.secondary-menu-up {
    top: -68px;
    transition: all .3s ease-in-out;
}

/* Styling items secondair menu */
ul.secondary-menu li>a {
    color: var(--sub-text);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;

    transition: .3s ease-in-out;
}

/* Actieve link secondair manu */
ul.secondary-menu li:first-of-type>a {
    color: var(--highlight-pink);
    padding-left: 2rem;
}

ul.secondary-menu li>a:hover {
    color: var(--veronica-light-blue);
}

/* Padding laaste link item secondair menu */
ul.secondary-menu li:last-of-type>a { /* Selecteert alle <a> elementen in de laatste <li> van een <ul>, genaamd 'secondary-menu' */
    padding-right: 2rem;
}

/* Flex layout dagen van de week */
.main-days {
    /* Flex als parent */
    display: flex;
    align-items: center;
    text-align: center;
    height: 5rem;
    left: 0;
    right: 0;
    max-width: 100vw;

    position: fixed; 
    width: 100vw; 
    z-index: 1; 
    top: 125px; 
    background-color: white; 
    transition: all .3s ease-in-out;
}

/* Scroll transitie */
.main-days-up {
    top: -125px;
    transition: all .3s ease-in-out;
}

/* Styling dagen van de week */
ul.main-days li>a {
    color: black;
    text-align: center; 
}

ul.main-days li:hover {
    background-color: var(--veronica-light-blue);
    padding: 1.3rem 0 1.3rem 0;
}

ul.main-days li {
    display: block;
    flex-grow: 1;
    cursor: pointer;

    transition: .3s ease-in;
}

.main-days strong {
    display: block; /* strong element met de data (cijfers) neemt de hele breedte in, zodat deze onder de dagen wordt geplaatst */ 
}

ul.main-days li:nth-of-type(2) {
    background-color: var(--highlight-pink);
    padding: 1.3rem 0 1.3rem 0;
}

/* Tekst in list item */
ul.main-days li:nth-of-type(2)>a { /* Selecteert de <a> (anchor) binnen het tweede <li> element van een <ul> met de class "main-days" */
    color: white; /* Stelt de tekst kleur van alle <a> elementen binnen de tweede <li> in op wit */
}

/* Midden centreren secondary & main days memu */
.nav-ul {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

/* Flexbox met programma cards */
.programmering {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-top: 15rem;
    margin-bottom: 15rem;

    @media screen and (min-width: 1300px) {
        height: 70vh;
        overflow-y: auto;
        width: 800px;

        padding: 3rem 0 3rem;

        /* margin-top: 12rem; */
        padding-bottom: 2rem;
    }
}

/* Programma cards */
/* Grid layout */
.programma-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr .3fr 1fr .3fr;
    background-color: white;
    padding: .5em 1em;
    border-radius: .5em;
    filter: drop-shadow(0px 0px 8px #bebebe);
    width: 70vw;
    max-width: 450px;
}

/* Programma titel */
.programma-card h2 {
    grid-column: 2/4;
    grid-row: 2/3;
    margin: 0; /* remove default margin-top & margin-bottom */
    align-self: start;
    justify-self: center;
    width: 100%;
    height: max-content;
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(1rem, 4.5vw, 1.8rem); /* repsonsive font-size */
}

/* Tijd */
.programma-card p:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
    align-self: start;
    justify-self: center;
    width: 100%;
    text-align: center;
    padding: .2em .5em .2em .5em;
    font-weight: bold;
    color: white;
    border-radius: .3em;
    translate: 0% -80%;
    background-color: var(--veronica-blue);
    font-size: clamp(.6rem, 4vw, 1rem); /* repsonsive font-size */
}

/* Beschrijving programma */
.programma-card p:nth-last-of-type(2) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin: 0;
    align-self: start;
    justify-self: center;
    width: 80%;
    text-align: start;
    font-size: clamp(1rem, 2vw, 1.1rem);
    padding: 1em 0em 0em 0em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    color: var(--sub-text);
}

/* Thumbnail DJ */
.programma-card img {
    grid-column: 1/2;
    grid-row: 2/4;
    width: 100%;
    height: auto;
    border-radius: .3em;
}

/* Naam DJ */
.programma-card p:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 0; /* remove default margin-top & margin-bottom */
    align-self: center;
    justify-self: center;
    width: 100%;
    height: max-content;
    text-align: center;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.1rem); /* repsonsive font-size */
}

/* Link op card */
.programma-card a {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    align-self: center;
    justify-self: end;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: var(--highlight-pink);
    font-size: clamp(.5rem, 2vw, 1rem);
    background-image: url('../assets/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: center;

    transition: .3s ease-in;
}

.programma-card a:hover {
    scale: 1.3;
    background-color: var(--veronica-blue);
}

/* Wanneer programma card actief is */
.programma-card.active {
    scale: 1.1;
    opacity: 1;
}

/* Styling voor de programma cards die niet actief zijn */
.programma-card:not(.active) { /* Selecteert elk element met de class "programma-card" dat NIET de class "active" heeft */
    opacity: .5; /* Verlaagt de zichtbaarheid (opacity) van het geselecteerde element naar 50%, waardoor het semi-transparant wordt */
}

@media screen and (min-width: 1300px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Verberg 'H1 Programmering' */
main h1 {
    display: none;
}

/* Grid layout player */
section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    padding: .5em 1em;
    border-radius: .5em;
    filter: drop-shadow(0px 0px 8px #bebebe);
    width: 80vw;
    max-width: 500px;
    max-height: 15vh;
    position: fixed;
    margin: 5% auto;
    left: 0;
    right: 0;
    bottom: 0;

    @media screen and (min-width: 1300px) {
        position: relative;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr .5fr .3fr .3fr .2fr;
        justify-items: center;
        margin-top: 15rem;
        width: 350px;
        max-height: 50vh;
    }
}

/* Reset */
section>h2, img, a, p {
    margin: 0;
    padding: 0;
}

/* Player titel huidig programma */
section h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    text-align: start;
    text-transform: uppercase;
    font-size: clamp(.8rem, 3vw, 1.6rem);
    margin-left: 1rem;

    @media screen and (min-width: 1300px) {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
}

/* Player titel en artiest huidig nummer */
section p {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: start;
    text-align: start;
    font-size: clamp(.5rem, 3vw, 1rem);
    display: inline;
    margin-left: 1rem;
    color: var(--sub-text);

    @media screen and (min-width: 1300px) {
        grid-column: 1/-1;
        grid-row: 4/5;
    }
}

/* Player album cover */
section img {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    width: 100%;
    height: auto;
    border-radius: .3em;

    @media screen and (min-width: 1300px) {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 50%;
        height: auto;
    }
}

/* Player play button */
section a {
    grid-column: 3/4;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: var(--highlight-pink);
    font-size: clamp(.5rem, 2vw, 1rem);
    background-image: url("../assets/pause.svg");
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: center;

    transition: .3s ease-in-out;

    @media screen and (min-width: 1300px) {
        grid-column: 1/2;
        grid-row: 5/6;
    }
}

section a:hover {
    background-color: var(--veronica-light-blue);
}