/* Extra Light */
:root {
    --veronica-blue: #0091FF;
    --veronica-light-blue: #37B7F5;
    --highlight-pink: #FE0170;
    --sub-text-light: hsl(0, 0%, 83%);
    --sub-text: #8B8B8B;
}

/* Font */
/* Extra Light */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Extra Bold */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Brutal Type Normal */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: 'Brutal Type';
    margin: 0; 
    padding: 0;
}

/* Flexbox met programma cards */
main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 4em;

    margin-top: 3rem;   
}

/* Programma cards */
/* Grid layout */
.programma-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr .3fr 1fr .3fr;
    background-color: white;
    padding: .5em 1em;
    border-radius: .5em;
    filter: drop-shadow(0px 0px 8px #bebebe);
    width: 80vw;
    max-width: 700px;
}

/* Programma titel */
.programma-card h2 {
    grid-column: 2/4;
    grid-row: 2/3;

    margin: 0;  /* remove default margin-top & margin-bottom */
    align-self: start;
    justify-self: center;

    
    width: 100%; 
    height: max-content;
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(1rem, 5vw, 2.5rem); /* repsonsive font-size */

}

/* Tijd */
.programma-card p:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
    align-self: start;
    justify-self: center;
    width: 100%;
    text-align: center;
    padding: .2em 0em .2em 0em;
    font-weight: bold;
    color: white;
    border-radius: .3em;
    translate: 0% -80%;
    background-color: var(--veronica-blue);
    font-size: clamp(.6rem, 4vw, 1rem); /* repsonsive font-size */
}

/* Beschrijving programma */
.programma-card p:nth-last-of-type(2) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin: 0;
    align-self: start;
    justify-self: center;
    width: 80%;
    /* height: 80%; */

    text-align: start;
    font-size: clamp(1rem, 2vw, 1.2rem);
    padding: 1em 0em 0em 0em;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
            line-clamp: 4;
    overflow: hidden;

    color: var(--sub-text);
}

/* Thumbnail DJ */
.programma-card img {
    grid-column: 1/2;
    grid-row: 2/4;

    width: 100%; 
    height: auto; 
    /* object-fit: contain; */
    border-radius: .3em;
}

/* Naam DJ */
.programma-card p:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 4/5;

    margin: 0;  /* remove default margin-top & margin-bottom */
    align-self: center; 
    justify-self: center;

    width: 100%; 
    height: max-content;
    text-align: center;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.2rem); /* repsonsive font-size */
}

/* Link op card */
.programma-card a {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    align-self: center;
    justify-self: end;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: var(--highlight-pink);
    font-size: clamp(.5rem, 2vw, 1rem);
    background-image: url('../assets/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: center;
}

/* Verberg 'Programmering' */
main h1 {
    display: none;
}

/* Vormgeving Hamburger Menu */
input[type=checkbox] + label {
    span {
      display: block;
      width: 1.5rem;
      height: 2px;
      background-color: white;
      margin: .28rem;
      transition: all 0.3s;
    }
}

label {
    cursor: pointer;
}

/* Checkbox verbergen */
input[type=checkbox] {
    display: none;
}

/* Hamburger wanneer checked */
input[type=checkbox]:checked + label {
    .burger-top{
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .burger-middle {
      opacity: 0;
    }
    .burger-bottom {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
}

/* Altijd zichtbare menu */
nav .nav-main-menu {
    /* Flex layout nav bar */
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--veronica-blue);

    padding: .3rem .5rem .3rem .5rem;

    position: fixed; 
    width: 100vw;   
    z-index: 1;
}

/* Nav logo */
nav .nav-main-menu a:first-of-type {
    order: 2;
}

/* Grootte Veronica afbeelding */
nav .nav-main-menu a:first-of-type>img {
    width: 8rem;
}

/* Grootte Whatsapp afbeelding */
nav .nav-main-menu a:last-of-type>img {
    width: 2rem;
}

nav .nav-main-menu a:last-of-type {
    order: 3;
}


/* Hamburger menu items */ 
.primary-menu {

    /* Flex layout hamburger menu items */
    display: flex; 
    flex-direction: column;
    gap: .8rem; 
    align-items: center; 

    padding: .8rem 0 .8rem 0;
    background-color: var(--veronica-light-blue);

    transition: .3s ease;
    translate: -100% 0; 

    position: fixed; 
    width: 100vw; 
    margin: 59px 0 0 0; 
    z-index: 1;
}

.primary-menu.clicked {
    translate: 0 0;
}

/* Tekst opmaak hamburger menu items */
nav .primary-menu li>a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

/* Opmaak lijst, lijst items en links */
ul, li > a  {
    list-style-type: none;
    text-decoration: none;
    margin: 0; 
    padding: 0; 
}

/* Flex layout secondair menu */
ul.secondary-menu {
    border-bottom: solid .1rem var(--sub-text-light);
    padding: 0 .5rem 0 .5rem;
    max-width: 700px;

    /* Flex layout */
    display: flex; 
    gap: 3rem;
    overflow-x: scroll;
    height: 4rem;
    align-items: center;
    
    padding-top: 61.3984px;

}

/* Styling items secondair menu */
ul.secondary-menu li>a {
    color: var(--sub-text);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

/* Actieve link secondair manu */
ul.secondary-menu li:first-of-type>a {
    color: var(--highlight-pink);
}

/* Flex layout dagen van de week */
ul.main-days {
    display: flex; 

    align-items: center;
    text-align: center;

    height: 5rem;

    overflow-x: auto;
    max-width: 700px;
}


/* Styling dagen van de week */
ul.main-days li>a {
    color: black;
    text-align: center;

    white-space: pre-line;
}

ul.main-days li {
    display: block;
    flex-grow: 1;
    cursor: pointer;
}

ul.main-days li:nth-of-type(2) {
    background-color: var(--highlight-pink);
    padding: 1.3rem 0 1.3rem 0;
}

/* Tekst in list item */
ul.main-days li:nth-of-type(2)>a {
    color: white;
}

/* Grid layout player */
footer {
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    background-color: white;
    padding: .5em 1em;
    border-radius: .5em;
    filter: drop-shadow(0px 0px 8px #bebebe);
    width: 80vw;
    max-width: 500px;

    height: max-content;


    position: fixed; 
    margin: 5% auto; /* Only centers horizontally not vertically! */
    left: 0;
    right: 0;
    bottom: 0;
}

/* Reset */
footer> h2, img, a, p {
    margin: 0; 
    padding: 0;
}

/* Player titel huidig programma */
footer h2 {
    grid-column: 2/3;
    grid-row: 1/2;

    align-self: center;
    text-align: start;

    text-transform: uppercase;
    font-size: clamp(.8rem, 3vw, 1.6rem);

    margin-left: 1rem;

}

/* Player titel en artiest huidig nummer */
footer p {
    grid-column: 2/3;
    grid-row: 2/3;
    
    align-self: start;
    text-align: start;
    font-size: clamp(.5rem, 3vw, 1rem);


    display: inline;

    /* background-image: url("../assets/music.svg");
    background-repeat: no-repeat;
    background-size: 1em; */

    margin-left: 1rem;

    color: var(--sub-text);
    
}

/* Player album cover */
footer img {
    grid-column: 1/2;
    grid-row: 1/3;

    align-self: center;

    width: 100%;
    height: auto;

    border-radius: .3em;

}

/* Player play button */ 
footer a {
    grid-column: 3/4;
    grid-row: 1/3;

    align-self: center;
    justify-self: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: var(--highlight-pink);
    font-size: clamp(.5rem, 2vw, 1rem);
    background-image: url("../assets/pause.svg");
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: center;
}

