/* Extra Light */
:root {
    --veronica-blue: #0091FF;
    --highlight-pink: #FE0170;
}

/* Font */
/* Extra Light */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Extra Bold */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Brutal Type Normal */
@font-face {
    font-family: 'Brutal Type';
    src: url('../assets/font/BrutalType.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: 'Brutal Type';
}

/* Flexbox met programma cards */
main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

/* Programma cards */
/* Grid layout */
.programma-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr .3fr 1fr .3fr;
    background-color: white;
    padding: .5em 1em;
    border-radius: .5em;
    filter: drop-shadow(0px 0px 8px #bebebe);
    width: 80vw;
    max-width: 700px;
}

/* Programma titel */
.programma-card h2 {
    grid-column: 2/4;
    grid-row: 2/3;

    margin: 0;  /* remove default margin-top & margin-bottom */
    align-self: start;
    justify-self: center;

    
    width: 100%; 
    height: max-content;
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(1rem, 5vw, 2.5rem); /* repsonsive font-size */

}

/* Tijd */
.programma-card p:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
    align-self: start;
    justify-self: center;
    width: 100%;
    text-align: center;
    padding: .2em 0em .2em 0em;
    font-weight: bold;
    color: white;
    border-radius: .3em;
    translate: 0% -80%;
    background-color: var(--veronica-blue);
    font-size: clamp(.6rem, 4vw, 1rem); /* repsonsive font-size */
}

/* Beschrijving programma */
.programma-card p:nth-last-of-type(2) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin: 0;
    align-self: start;
    justify-self: center;
    width: 80%;
    /* height: 80%; */

    text-align: start;
    font-size: clamp(1rem, 2vw, 1.2rem);
    padding: 1em 0em 0em 0em;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
            line-clamp: 4;
    overflow: hidden;
}

/* Thumbnail DJ */
.programma-card img {
    grid-column: 1/2;
    grid-row: 2/4;

    width: 100%; 
    height: auto; 
    /* object-fit: contain; */
    border-radius: .3em;
}

/* Naam DJ */
.programma-card p:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 4/5;

    margin: 0;  /* remove default margin-top & margin-bottom */
    align-self: center; 
    justify-self: center;

    width: 100%; 
    height: max-content;
    text-align: center;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.2rem); /* repsonsive font-size */
}

/* Link op card */
.programma-card a {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    align-self: center;
    justify-self: end;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: var(--highlight-pink);
    font-size: clamp(.5rem, 2vw, 1rem);
    background-image: url('../assets/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: center;
}

/* Verberg 'Programmering' */
main h1 {
    display: none;
}

/* Vormgeving Hamburger Menu */
input[type=checkbox] + label {
    span {
      display: block;
      width: 1.5rem;
      height: 2px;
      background-color: black;
      margin: .28rem;
      transition: all 0.3s;
    }
}

label {
    cursor: pointer;
}

/* Checkbox verbergen */
input[type=checkbox] {
    display: none;
}

/* Hamburger wanneer checked */
input[type=checkbox]:checked + label {
    .burger-top{
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .burger-middle {
      opacity: 0;
    }
    .burger-bottom {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }